## Please GENERATE the model of the network first by running WriteModel#0F#1T - 1.0, before using this file.
## Please VIEW the IDs of the zones in the network first by running ViewIDs#0F#1T - 1.0, before using this file.
## Do NOT change the order of variables in this file.

## [Number of Agents]
## [Format - Integer number of agents to spawn]

agentsToSpawn = 20

## [Agent Spawning]
## [Format - random, subset, fixed]

agentSpawning = fixed

## [Random Agent Spawning Specification]
## [Format(0-based) - possibleSpawnZones - All, IZones; possibleGoalZones - All, IZones]

random:possibleSpawnZones = All
random:possibleGoalZones = All

## [Subset Agent Spawning Specification]
## [Format(0-based) - SpawnZoneID(s) separated by commas, no comma for single element.]
## [Format(0-based) - GoalZoneID(s) separated by commas, no comma for single element.]
## Make sure IDs are not out of bounds of total number of zones.

subset:possibleSpawnZones = 20
subset:possibleGoalZones = 22,32,24,2,96,111

## [Fixed Agent Spawning Specification]
## [Format(0-based) - AgentID, SpawnZoneID, GoalZoneID(s)]
## [Should be equal to number of agents - See the model file for that information. Also length of list should be either 1 or equal to agentsToSpawn defined earlier.]
## [Make sure agent IDs are only in the range 0..agentsToSpawn and are unique for each agent.]
## [Examples - 0,12,15 one agent.]
## [Examples - 0,12,15 ; 1,23,21 ; 2,15,20 for three agents.]

## fixed:AgentSpawning = 0,1,31 ; 1,0,1 ; 2,20,24 ; 3,21,24
fixed:AgentSpawning = 0, 3, 98; 1, 5, 91; 2, 8, 92; 3, 9, 99; 4, 4, 97; 5, 4, 96; 6, 3, 95; 7, 7, 98; 8, 3, 99; 9, 8, 99; 10, 94, 3; 11, 90, 3; 12, 97, 1; 13, 91, 6; 14, 96, 5; 15, 94, 1; 16, 94, 0; 17, 90, 4; 18, 94, 5; 19, 96, 9

## [Goals Per Agent Specification]
## [Format(0-based) - Number of goals per agent (single integer or a list per agent)]
## [Example - 1,2,3,1,2,4] OR [Example - 4]
## [Each value should be no more than the number of possible goal zones. Also length of list should be either 1 or equal to agentsToSpawn defined earlier.]
## [IMPORTANT: Assume possibleSpawnZones = 0,1,2 and possibleGoalZones = 0,3,4 -- Then agent spawning in zone 0 have only two options 3,4 for goal zones. Since 0 is common in both, make sure that you do ## not have more than 2 goals for any agent just to be safe in worst case. Therefore, ideally, Each value should be no more than the number of (possible goal zones - 1)].

goalsPerAgent = 1

## [Minimum time and Maximum time steps for zone transitions as well as capacities]
## [Format - random, commonRanges, separateRanges]

zoneTransitionAndCapacityGen = separateRanges

## [Random Time Specification]
## [Format(0-based) - NIL]


## [All-In-One-Range Based Time Specification & Capacity Specification]
## [Format(0-based) - T_Min_Value, T_Max_Value, Cap_Min, Cap_Max]

commonRanges:values = 1, 1, 1, 1


